{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'thamar/css/login.css'%}?v=2">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="icon" type="image/png" href="{% static 'thamar/images/titlelogo.png' %}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
   <title> {%block title %}Login Page{% endblock %}</title>
</head>
<body>
    {%include 'partials/navbar.html'%}

    <section class="thamar-login-wrap">
    <!-- Background layer (you can change image later) -->
    <div class="thamar-login-bg"></div>

    <!-- Glass overlay -->
    <div class="thamar-login-glass">
        <div class="thamar-login-box">

            <h2 class="thamar-login-title">WELCOME BACK!!!</h2>
            <p class="thamar-login-quote">
                Join the world of Thamar — where care meets clarity.
            </p>

            <form method="post">
                {% csrf_token %}

                <div class="thamar-field">
                    <input type="text" name="username" placeholder="Username" required>
                </div>

                <div class="thamar-field thamar-password-field">
                    <input type="password" id="passwordInput" name="password" placeholder="Password" required>
                    <span class="thamar-toggle-pass" onclick="togglePassword()">👁</span>
                </div>

                <button type="submit" class="thamar-login-btn">Login</button>
            </form>

            <p class="thamar-login-footer">
                New to Thamar? <a href="{%url 'accounts:register'%}">Create an account</a>
            </p>

        </div>
    </div>
</section>

<script>
function togglePassword() {
    const input = document.getElementById("passwordInput");
    input.type = input.type === "password" ? "text" : "password";
}
</script>
{%include 'partials/footer.html'%}
</body></html>